/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*font-family: liberation-sans, sans-serif;

font-weight: 400;

font-style: normal; 


font-family: 'Pacifico', cursive;*/

p {
    color: #848484;
    font-family: liberation-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    margin: 0;
}

h1 {
    font-family: 'Pacifico', cursive;
    font-size: 45px;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}








/*================Header=================*/

.hero {
    background-image: url("../img/hero.png");
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 40px;
}

.blue {
    color: #00adef;
}

.hero_sub1 {
    color: white;
}

.hero p {
    color: white;
    font-size: 21px;
}

.hero_sub2 {
    display: none;
}

.color_top {
    background-color: #00adef;
    padding-top: 20px;
}

.hero_icons {

}

.icon_apple {
    background-image: url("../img/apple.png");
}

.icon_android {
    background-image: url("../img/android.png");
}

.icon_windows {
    background-image: url("../img/windows.png");
}

.icon {
    background-color: #00adef;
    background-repeat: no-repeat;
    background-position: center center;
    display: inline-block;
    border-radius: 50%;
    min-width: 48px;
    min-height: 48px;
}

.icon_black75 {
    background-color: black;
    opacity: 0.75;
}

.icon_black75:hover {
    background-color: #00adef;
}

/*================Box 1=================*/

.box1 {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 40px;
}

.box1_sub {
    padding: 20px;
    text-align: center;
    align-items: center;
}

/*================Box 2=================*/

.box2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #e3e3e3;
    padding: 60px 30px 60px 30px;
}

input[type=submit] {
    color: white;
    background-color: #00adef;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    border-radius: 0 10px 10px 0;
    padding: 10px;
    border: solid;
    border-width: thin;
}

.box2 p {
    padding-top: 15px;
    padding-bottom: 15px;
}

input {
    margin-top: 5px;
    margin-bottom: 30px;
}

input[type=text] {
    font-family: liberation-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #848484;
    border-radius: 10px 0 0 10px;
    padding: 10px;
    border: solid;
    border-width: thin;
}

.box2_sub1 {
}

.box2_sub2 {
}

.icon_gear {
    background-image: url("../img/gear.png");
}

.icon_star {
    background-image: url("../img/star.png");
}

.icon_earth {
    background-image: url("../img/earth.png");
}

.icon_large {
    min-width: 100px;
    min-height: 100px;
}

/*================Box 3=================*/

.box3 {
    text-align: center;
}  

.italic {
    font-family: liberation-sans, sans-serif;
    font-weight: 400;
    font-style: italic;
}

.box3 p {
    padding-top: 30px;
}

.bold_large {
    font-weight: 900;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.faces li {
    background-color: #00adef;
    display: inline-block;
}

.faces li:hover img {
    opacity: 0.5;
}

.faces ul {
    padding: 20px;
}

.icon_box3 {
    margin: 25px 0 50px 0;
}

.icon_small {
    min-width: 36px;
    min-height: 36px;
    background-color: #d4d4d4;
}

.icon_small:hover {
    background-color: #00adef;
}

.icon_twitter {
    background-image: url("../img/twitter.png");
}

.icon_facebook {
    background-image: url("../img/facebook.png");
}

.icon_pinterest {
    background-image: url("../img/pinterest.png");
}

.icon_google {
    background-image: url("../img/google.png");
}

.icon_linkedin {
    background-image: url("../img/linkedin.png");
}

.icon_youtube {
    background-image: url("../img/youtube.png");
}

/*================Footer=================*/

footer {
    background-color: #e3e3e3;
    margin: 0;
    padding: 70px 40px 70px 40px;

}

.footer ul {
    padding: 0;
    margin: 0;
    text-align: center;
}

.footer a {
    display: inline-block;
    color: #848484;
    font-family: liberation-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    padding: 0 20px;
}

.footer a:hover {
    color: #00adef;
}

.footer a:active {
    text-decoration: underline;
}

/* *****************Media Queries****************** */
@media screen and (min-width: 1000px) {

    .box1 {
        flex-direction: row;
    }

    .box2 {
        flex-direction: row;
    }

    .box2_sub1 {
        width: 50%;
    }

    .box_sub2 {
        width: 50%;
    }
}

@media screen and (min-width: 1000px) {
    .hero {
        flex-direction: row;
    }

    .hero_sub2 {
        display: inline-block;
        padding-top: 93px;
    }

    .hero_sub1 {
        padding-top: 93px;
    }
}






/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
